{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <article>
        <div class="div-col-2">
            <h1>Currently available API routes</h1>
            {#
            {%for descript, route in routes%}
            <li><b>{{ route }}</b>: {{ descript }}</li>
            {% endfor %}
            #}
            <li><b><a href="{{ path('quote') }}">/api/quote</a></b>: gives you your daily quote</li>
            <li><b><a href="{{ path('api_deck') }}">/api/deck</a></b>: returns JSON with card deck sorted by suit and values</li>
            <li><b><a href="{{ path('api_deck_shuffle') }}">/api/deck/shuffle</a></b>: returns JSON of shuffled deck</li>
            <li><b><a href="{{ path('api_deck_draw') }}">/api/deck/draw</a></b>: returns JSON of drawn card</li>
            <li><b><a href="{{ path('api_deck_draw_num', {numCards: 1}) }}">/api/deck/draw/:number</a></b>: returns JSON of a number of drawn cards</li>
            <li><b><a href="{{ path('api_twentyone') }}">/api/twentyone</a></b>: returns JSON of twentyone game standing (if game has been initialized on the twenty one page)</li>

            {% if numCards is same as(0) %}
            <form class="cardform" method="post" action="">
                <input type="submit" name="restart" value="Shuffle a new deck"
                onClick="this.form.action='{{ path('api_deck_restart') }}';"
                >
            </form>

            {% else %}
                <p class="cardp"><b>Cards left</b>: {{ numCards }}</p>
                <form class="cardform" method="post" action="">
                <input type="submit" name="draw" value="Draw a single card"
                onClick="this.form.action='{{ path('api_deck_draw') }}';"
                >
                </form>
                

                <form class="cardform" method="post" action="">
                <input class="slider" type="range" id="num_to_draw" min="1" max="{{ numCards }}" value="1"
                oninput="this.nextElementSibling.value = this.value"
                >
                <input value="1" name="number" id="number">
                <input type="submit" name="draw" value="Cards to draw"
                onClick="this.form.action='{{ path('api_card_post_middleware') }}';"
                >
                </form>
            {% endif%}
        </div>
    </article>
{% endblock %}