<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/aurora.jpg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <header class="outer-wrap-header" style="background-image: url({{ asset('img/watercolor1903300.jpg') }})">
        <div class="inner-wrap-header">
        <h1>MVC</h1>
        <nav class="my-navbar">
            <ul class="my-navbar">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Reports</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky</a></li>
                <li><a href="{{ path('api') }}">Api</a></li>
                <li><a href="{{ path('pig_start') }}">Pig game</a></li>
                <li><a href="{{ path('card_start') }}">Card</a></li>
                <li><a href="{{ path('test_roll_dice',{numDice: 0}) }}">Dice test</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <body>
        <main>
        {% block body %}{% endblock %}
            <div class="byline-wrapper">
                <div class="byline">
                    <img src="/img/parv2.jpg" alt="Patrik Arvius" class="byline-image">
                    <p>
                    <b>Patrik Arvius</b> lives in Hammarby Sjöstad, Stockholm and studies webbdevelopment at 
                    Blekinge Tekniska Högskola. In his spare time you'll find him in the 50m pool at Eriksdalsbadet, panting
                    up Hammarbybacken or maybe in an online game. 
                    </p>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <p>@Patrik Arvius, 2024, <a href="https://github.com/PatrikArvius/">My github repos</a></p>
        <a href="https://github.com/PatrikArvius/">My github repos</a>
    </footer>
</html>