{% extends "base.html.twig" %}

{% block title %}Library Reset{% endblock %}

{% block body %}
<article class="art-row">
<div class="div-col-1">
    <h2>Library links</h2>
    <ul class="about-links">
    <li><a href="{{ path('app_library') }}">Add a book</a></li>
    <li><a href="{{ path('app_library_show_all') }}">Show all books</a></li>
    <li><a href="{{ path('app_library') }}">Update a book</a></li>
    <li><a href="{{ path('app_library') }}">Delete a book</a></li>
    <li><a href="{{ path('app_library_reset') }}">Reset Library</a></li>
    </ul>
</div>
<div class="div-col-2">
<h1>Are you sure you want to reset the Library?</h1>

<form class="cardform" method="post" action="">
    <input type="submit" name="add" value="Reset library"
    onClick="this.form.action='{{ path('app_library_reset_post') }}';"
    >
</form>

</div>
</article>
{% endblock %}