{% extends "base.html.twig" %}

{% block title %}Library Show All{% endblock %}

{% block body %}
<article class="art-row">
<div class="div-col-1">
    <h2>Library links</h2>
    <ul class="about-links">
    <li><a href="{{ path('app_library_add') }}">Add a book</a></li>
    <li><a href="{{ path('app_library_show_all') }}">Show all books</a></li>
    <li><a href="{{ path('app_library') }}">Update a book</a></li>
    <li><a href="{{ path('app_library') }}">Delete a book</a></li>
    <li><a href="{{ path('app_library_reset') }}">Reset Library</a></li>
    </ul>
</div>
<div class="div-col-2">
<h1>Library - All books</h1>
<p class="centered">These are all available books in the library</p>

<div class="div-row">
{% for book in books %}
    <div class="book">
    <img src="{{ book.getImage|e }}" alt="{{ book.getTitle|e }}">
    <p><a href="{{ path('app_library_show_one', {'title': book.getTitle}) }}">{{ book.getTitle|e }}</a></p>
    <p>{{ book.getAuthor|e }}</p>
    <p>ISBN: {{ book.getIsbn|e }}</p>
    </div>
{% endfor %}

</div>

</div>
</article>
{% endblock %}